# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Learn popular languages for Data Scientists
- Know Commonly used libraries used by Data Scientists
- List of Data Science Tools
- Introducing arithmetic expressions in Python
- Multipy and add numbersin Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools|
-----------------------------
|Jupyter Notebook |
|RStudio          |
|Apache Spark     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Ivonne Gutierrez